.profile {
  margin: auto;
  max-width: 882px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
  }
 }
