.elements {
  margin: auto;
  max-width: 882px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: space-around;
  gap: 21px 18px;
}

@media screen and (max-width: 767px) {
  .elements {
    padding-top: 36px;
  }
 }
