.author__profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 336px;
}

@media screen and (max-width: 767px) {
  .author__profile {
    max-width: 282px;
    justify-content: center;
    margin-bottom: 30px;
  }
 }
