.author__avatar {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  background-image: url(../../../images/avatar.jpg);
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .author__avatar {
    margin: auto;
  }
 }
